/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

:root > * {
  transition: opacity 0.25s ease-out;
}
:root:not(.initialized) > * {
  opacity: 0;
}

p, ul {
  margin: 0 0 0.5em 0;
  padding: 0;
}

ul,
ul li {
  list-style: none;
}

p.sub {
  margin-left: 2em;
}

ul p.sub {
  margin-top: 0;
  margin-bottom: 0;
}

:root:not(.debugging) #debug-configs {
  max-height: 0;
  overflow: hidden;
}

:root:not(.debugging) #debug-configs * {
  -moz-user-focus: ignore;
  -moz-user-input: disabled;
}


.grid {
  display: flex;
  flex-direction: column;
  margin: 1em 0 0.25em;
}

.grid .row {
  display: flex;
  flex-direction: row;
}

.grid .column {
  display: inline-flex;
  white-space: nowrap;
}

.grid .column.fields {
  flex-grow: 1;
}

.grid .fields .label {
  width: 35%;
}
.grid .fields .format {
  width: 65%;
}

.grid button {
  min-width: 0;
}

.grid .remove {
  margin-left: 1em;
}

#copyToClipboardFormatsAddNewRow {
  text-align: center;
  width: 70%;
}

p.syntax-description {
  white-space: pre-wrap;
}

.copyable {
  -moz-user-select: text;
  cursor: text;
}

#howToActivateNativeRichTextCopy {
  font-weight: bold;
}


table#modeForNoSelectionOptions {
  border-collapse: collapse;
}
table#modeForNoSelectionOptions th + *,
table#modeForNoSelectionOptions td + * {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
table#modeForNoSelectionOptions tbody tr {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

table#modeForNoSelectionOptions tbody th {
  font-weight: normal;
}

table#modeForNoSelectionOptions thead th:nth-child(3),
table#modeForNoSelectionOptions tbody th {
  text-align: left;
}

table#modeForNoSelectionOptions td {
  text-align: center;
}

table#modeForNoSelectionOptions input[type="radio"] {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

